Screen {
    layout: grid;
    grid-size: 3;
    padding: 1;
    background: #181818;
}

Header {
  dock: top;
  height: 3;
  content-align: center middle;
  background: #181818;
  color: white;
}

#flow {
    width: 100%;
    height: 150%;
    column-span: 1;
    text-align: center;
    border: round grey;
    content-align: center middle;
    text-style: bold;
}
#flow2 {
    width: 100%;
    height: 150%;
    column-span: 1;
    text-align: center;
    border: round grey;
    content-align: center middle;
    text-style: bold;
}

Static {
    height: 50%;
}

#spark {
    width: 100%;
    height: 100%;
    column-span: 2;
    margin: 0 10;
    content-align: center middle;
}

#spark > .sparkline--max-color {
    color: $accent;
}
#spark > .sparkline--min-color {
    color: $accent 30%;
}


#weight {
    width: 100%;
    height: 150%;
    column-span: 2;
    text-align: center;
    border: round grey;
    content-align: center middle;
    text-style: bold;
}

Button {
    width: 100%;
    text-align: center;
    content-align: center middle;
}

#status {
    width: 100%;
    height: 100%;
    column-span: 3;
    text-align: center;
}

#details {
    width: 100%;
    height: 100%;
    column-span: 3;
    text-align: center;
    content-align: center bottom;
}

Label {
    width: 100%;
    height: 100%;
    text-align: right;
    content-align: center middle;
    text-style: bold;
}

HistoryScreen {
    layout: vertical;
}

HistoryScreen Horizontal {
    width: 100%;
    height: 1fr;
}

PlotextPlot {
    width: 1fr;
    height: 1fr;
}
